@import "tailwindcss";

@font-face {
  font-family: "EnvyCodeR Nerd Font Mono";
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@v3.1.1/patched-fonts/EnvyCodeR/Regular/EnvyCodeRNerdFontMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #efefef;
  --foreground: #171717;
  --system-color: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-system-color: var(--system-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #efefef;
    --system: #0a0a0a;
    --system-color: #eeeeee;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "EnvyCodeR Nerd Font Mono", ui-monospace, "Liberation Mono", "Courier New",
    monospace;
}

::selection {
  background: #fafafa;
  color: #000;
}

::-moz-selection {
  background: #fafafa;
  color: #000;
}

@media (min-width: 1920px) {
  html {
    font-size: clamp(16px, 1vw, 24px);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none !important;
  }

  * {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fafafa;
  cursor: pointer;
  border: 1px solid black;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #fafafa;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0;
}
